body{
    background-color: rgb(101, 238, 238);
}
h1{
    background-color: wheat;
    color: blue;
}
#show_sketch{
    float: right;
}

canvas{
    border-radius:20px;
    border: 5px solid white;
    margin-top: 25px;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count:infinite;
}
@keyframes example {
 from{box-shadow: 1px 1px 38px gray;}
 to{box-shadow: 1px 1px 38px white;}   
}